body, body.dark-mode {
    font-family: sans-serif;
    color: black;
    background-color: white;
    font-size: 10pt;
}
nav#menu, video, button#theme-toggle, img#cover, aside, header {
    display: none;
}
.grid {
    grid-template-columns: 1fr;
}
.grid img {
    box-shadow: none;
}
.container, div.flex {
    flex-direction: column;
}
img {
    max-width: 40%;
}
a {
    color: black;  
}
main a, main a:visited {
    color: black
}
table {
    background-color: white;
    border: 1px solid black;
}
@page {
    margin: 2cm;
}
